body {
    font-family: Arial, sans-serif;
    margin: 20px;
    direction: rtl;
}
/* עיצוב כללי */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    direction: rtl;
}

header {
    background-color: #333;
    padding: 15px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.datetime-container {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
h1,
h2 {
    margin-bottom: 10px;
}


#menu,
#palindromeSection,
#cipherSection {
    margin-bottom: 20px;
}

#menu select,
#menu input,
#menu button,
#palindromeSection input,
#palindromeSection button,
#cipherSection input,
#cipherSection button {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
}


#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    border: 1px solid #333;
    padding: 10px;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}